name: Generate Calendar

on:
  push:
    branches:
      - main
  schedule:
    - cron: '32 4 * * 1,4'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  generate:
    runs-on: ubuntu-latest
    env:
      LOCALE: fr-FR
      TYPE: person

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Seed
        run: |
          SEED=https://gist.github.com/efrecon/61e650e455723408bccde0dcb1d58825/raw/b60ae7be1fe37c1b1f7a88acdecef33e29646a89/${TYPE}-${LOCALE}.tgz.b64
          mkdir -p "./data/${LOCALE}/${TYPE}"
          curl -fsSL --retry 5 --retry-delay 3 "$SEED" |
            base64 -d |
            tar -xzvf - -C ./data/${LOCALE}/${TYPE}

      - name: Generate Calendar
        run: |
          mkdir -p ./ics/${LOCALE}
          ./ics.sh -v -d 10 -s 5 -l "${LOCALE}" > "./ics/${LOCALE}/${TYPE}.ics"

      - name: Upload Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./ics

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
