name: Generate Calendar

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Seed
        run: |
          SEED=https://gist.github.com/efrecon/61e650e455723408bccde0dcb1d58825/raw/b60ae7be1fe37c1b1f7a88acdecef33e29646a89/person-fr-FR.tgz.b64
          mkdir -p ./data/fr-FR/person
          curl -fsSL --retry 5 --retry-delay 3 "$SEED" |
            base64 -d |
            tar -xzvf - -C ./data/fr-FR/person

      - name: Generate Calendar
        run: |
          mkdir -p ./ics/fr-FR
          ./ics.sh -v -d "" -l "fr-FR" > ./ics/fr-FR/$(date +%Y).ics

      - name: Upload Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./ics

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
